/_BACKUP/
/_DATA/
/wp-admin/
/wp-content/
/wp-content/languages/
/wp-content/plugins/
/wp-content/plugins/advanced-custom-fields/
/wp-content/plugins/classic-editor/
/wp-content/plugins/cyr3lat/
/wp-content/plugins/duplicate-page/
/wp-content/plugins/html-editor-syntax-highlighter/
/wp-content/plugins/rs-unitools/
/wp-content/plugins/ultimate-member/
/wp-content/plugins/um-recaptcha/
/wp-content/plugins/um-user-switching/
/wp-content/plugins/urvanov-syntax-highlighter/
/wp-content/themes/
/wp-content/uploads/
/wp-content/index.php
/wp-includes/
/.gitignore
/.htaccess
/bz_webxy.sql
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/.idea/.gitignore
/.idea/bz.ramzzes.rl.iml
/.idea/deployment.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/webServers.xml
